.message-card-container {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.message-card-content {
  flex: 1;
  font-size: 1.1em
}

.message-card-meta {
  flex: 0;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: lightgrey;
}

.message-card-sender {

}

.message-card-timestamp {

}
