{
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-curly-spacing": 0,
  }
}
