{
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-curly-spacing": 0,
    "react/forbid-prop-types": 0,
    "import/prefer-default-export": 0,
    "prefer-destructuring": 0
  },
  "parser": "babel-eslint"
}
