.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Colors */
:root {
  --light-blue: #81c8ee;
  --blue:#006bbd;
  --dark-blue: #284277;
  --off-white: #fdfdfd;
  --light-grey: #f6f6f6;
}
