.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.app-landing-page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.app-landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-landing-divider {
  margin: 20px;
}

.download-metamask-icon {
  height: 100px;
}
/*
  https://stackoverflow.com/questions/21515042/scrolling-a-flexbox-with-overflowing-content
*/
.app-content-outer {
  display: flex;
  flex: 1;
  overflow: auto;
}

.app-content-inner {
  display: flex;
  flex: 1;
  min-height: min-content;
}

.login-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unlock-image {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
  margin-top: 10px;
  margin-bottom: 30px;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  font-family: monospace !important;
}

/* Colors */
:root {
  --light-blue: #81c8ee;
  --blue:#006bbd;
  --dark-blue: #284277;
  --off-white: #fdfdfd;
  --light-grey: #f6f6f6;
}
